*{
    box-sizing: border-box;
    padding: 0;
    margin: 14px;
    font-size: 25px;
    font-weight: 700;
}

section{
    text-align: center;
    font-size: 28px;
    font-family: sans-serif;
    padding: 12px;
    border: 13px solid black;
    border-radius: 30px;
    background: rgb(2,0,36);
    background: linear-gradient(70deg, rgb(13, 0, 255) 0%,rgb(255, 41, 187) 90%);
    
}
input{
    padding: 10px;
}

h1{
    font-size: 40px;
}