* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

.title {
  margin-left: 92px;
  padding-top: 30px;
  float: left;
  width: 50%;
}

.search {
  float: right;
  display: flex;
  width: 40%;
}

.login {
  margin: 23px;
  padding: 12px;
}

button {
  border: none;
  background-color: red;
  color: aliceblue;
  font: 1.1em sans-serif;
  font-weight: 600;
  margin: 12px;
}

.the-news-paper {
  font-family: sans-serif;
  font-size: 2rem;
  font-style: italic;
}

.header-top {
  display: flex;
  height: 120px;
  background-color: red;
  
}

header {
  width: 100vw;
  color: white;
  height: 30vh;
  font-family: sans-serif;
}

.search-bar {
  margin: 40px;
  color: white;
}

input {
  padding: 14px;
  background-color: red;
  border: white solid 3px;
  border-radius: 4px;
  color: white;
}

.navbar {
  background-color: #ffffff;
  color: #000000;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: solid 4px rgb(220, 218, 218);
  padding: 40px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.navbar li {
  margin: 0 10px;
}

.navbar a {
  display: block;
  padding: 0 15px;
  line-height: 60px;
  text-decoration: none;
  color: #000000;
  
}

.navbar a:hover {
 
  font-size: 1.05rem;
  font-weight: 550;
  
}
